# Environment files
.env
.env.backup
.env.production

# Dependencies
/vendor
/node_modules

# Logs
*.log
npm-debug.log
yarn-error.log

# Build & hot reload


# Storage
/public/storage
/storage/*.key
/storage/pail

# IDE / OS files
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.zed

# PHP / Laravel
.phpactor.json
.phpunit.result.cache
auth.json

# Homestead / Vagrant
Homestead.json
Homestead.yaml
/.vagrant
