@tailwind base;
@tailwind components;
@tailwind utilities;
/* ================================
   FIX UKURAN GAMBAR DETAIL KOS
   ================================ */

.kos-image-main {
    width: 100%;
    height: 220px !important;
    object-fit: cover !important;
    border-radius: 0.75rem;
}

.kos-image-thumb {
    width: 100%;
    height: 80px !important;
    object-fit: cover !important;
    border-radius: 0.5rem;
    cursor: pointer;
}
